.input_div {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 70%;
}
.input_div > input {
  height: 50px;
  margin-top: 5px;
  padding-left: 10px;
  width: 100%;
  transition: 0.5s;
}
.input_div > input:focus {
  outline: 1px solid #00a654;
  width: 110%;
}
